/*Jedi Slider*/

body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #565656;
}

h1, h2, h3, h4, h5{
  color: #333;
}

.jp-img-responsive{
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.js-text{
  text-align: center;
  font-size: 3em;
  font-weight: 100;
}

.medium-box{
  width: 940px;
  margin: 0 auto;
}

#the-force .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-next, .owl-prev {
  position: absolute;
  top: 50%;
  margin-top: -28px !important;
  background: none;
  border: 2px solid;
  width: 56px;
  height: 56px;
}

.owl-prev {
  left: 20px;
}

.owl-prev i {
  margin-right: 4px;
}

.owl-next {
  right: 20px;
}

.owl-next i {
  margin-left: 4px;
}

.owl-theme .owl-controls .owl-buttons div{
  border-radius: 50%;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

/*Small icons slider box*/

#ewoks .item{
  background: transparent;
  padding: 0;
  margin: 0;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}

.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 10px;
}


/*Media Queries*/

@media (max-width:767px){
  .medium-box{
    width: 100%;
  }
}

@media (min-width: 768px){
  .medium-box{
    width: 720px;
  }
}

@media (min-width: 992px){
  .medium-box{
    width: 940px;
  }
}

@media (min-width:1200px){

}
